<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt chỗ</title>
    <link rel="stylesheet" th:href="@{/Employee/DatCho/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>

    <div id="header" th:replace="Employee/header :: header"></div>

    <!-- Form Thêm phiếu đặt bàn -->
    <div id="form-createOrderTable">
        <div class="member-list">
            <div class="form-close">
                <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
            </div>
            <div class="box">
                <form action="" method="get" class="form-search">
                    <h5>Thêm phiếu đặt bàn</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col-2">Tên KH:</div>
                            <div class="col-10"><input type="text" name="TenKH"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-2">SĐT:</div>
                            <div class="col-10"><input type="text" name="SoDienThoai"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-2">Ngày đặt:</div>
                            <div class="col-4"><input type="date" name="NgayDat"></div>
                            <div class="col-2">Giờ đặt:</div>
                            <div class="col-4"><input type="time" name="ThoiGian"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <h4>Bàn <span>41</span></h4>
                            </div>
                            <div class="col-4">
                                <input type="submit" class="btn btn-primary" value="Xác nhận đặt">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Form Danh sách phiếu đặt bàn -->
    <div id="member" class="form-listOrderTable">
        <div class="member-list">
            <div class="form-close">
                <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
            </div>
            <div class="box">
                <form   id="search-form" method="get" class="form-search">
                    <h5>Danh sách phiếu đặt chỗ</h5>
                    <input type="text" name="query" placeholder="Tìm kiếm theo Số điện thoại người đặt" autofocus>
                    <input type="submit" value="Tìm kiếm">
                </form>
                <script th:inline="javascript">
                    $(function() {
                        $('#search-form').on('submit', function(event) {
                        event.preventDefault();
                        var formData = $(this).serialize();
                        $.ajax({
                            type: 'GET',
                            url: '/nhan-vien/phieu-dat-ban/search',
                            data: formData,
                            success: [
                                function(response) {
                                    $('#results-table').html(response);
                                }
                            ]
                        });
                        });
                    });
                </script>
                <form action="" method="post" class="form-member">
                    <table th:fragment="resultsTable" id="resultsTable">
                        <thead>
                        <tr>
                            <th>Người đặt</th>
                            <th>SDT</th>
                            <th>Ngày đặt</th>
                            <th>Thời gian</th>
                            <th>Bàn</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${listPDC}">
                            <th:block th:switch="${item.trangthai}">
                                <th:case th:case="0">
                            <td th:text="${item.getTenNguoiDat()}"></td>
                            <td th:text="${item.soDienThoai}"></td>
                            <td th:text="*{#dates.format(item.ngayDat, 'dd-MM-yyyy')}"></td>
                            <td th:text="${item.getTime(item.gioBatdau)}"></td>
                            <td th:text="${item.soBan}"></td>
                            <td th:text="${item.convertTrangthaiString(item.getTrangthai())}"></td>

                            <td>
                                <a th:href="${'/nhan-vien/phieu-dat-ban/update-form/'} + ${item.getMaPhieu()}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                </a>
                                <a  th:attr="onclick=|confirmNhanban('/nhan-vien/phieu-dat-ban/nhan-ban/' + '${item.maPhieu}/${item.soBan}')|">
                                    <i class="fa-solid fa-check" style="color: #ffffff"></i>
                                </a>
                                <a th:attr="onclick=|confirmDeletePhieu('/nhan-vien/phieu-dat-ban/delete/' + '${item.maPhieu}')|" >
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                            </td>
                                </th:case>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
<!--                     <div class="btn-ApDung">-->
<!--                         <input class="btn btn-danger" type="submit" value="Xóa">-->
<!--                     </div>-->
                </form>
            </div>
        </div>
    </div>



    <div id="main">

        <div class="list-orderTable">
            <button class="btn btn-warning">Danh sách phiếu đặt bàn</button>
        </div>

        <div id="table-contain">

            <th:block th:each="b : ${listTable}">

                <th:block th:switch="${b.getTrangThai()}">
                    <th:block th:case="0">
                        <a th:href="@{'/nhan-vien/phieu-dat-ban/new-form/' + ${b.getSoBan()}}">
                            <div class="x-line"></div>
                            <div class="box-table" style="background-color: #eee;">
                                <div class="y-line-1"></div>
                                <p th:text="${b.getSoBan()}"></p>
                                <div class="y-line-2"></div>
                            </div>
                            <div class="x-line"></div>
                        </a>
                    </th:block>
                    <th:block th:case="1">
                        <a th:attr="onclick=|confirmEmpltyTable('/home/emptyTable/' + '${b.SoBan}')|">
                            <div class="x-line"></div>
                            <div class="box-table">
                                <div class="y-line-1"></div>
                                <p th:text="${b.getSoBan()}"></p>
                                <div class="y-line-2"></div>
                            </div>
                            <div class="x-line"></div>
                        </a>
                    </th:block>
                    <th:block th:case="2">
                        <a th:attr="onclick=|confirmEmpltyTable('/home/emptyTable/' + '${b.SoBan}')|">
                            <div class="x-line"></div>
                            <div class="box-table" style="background-color: #0d99ff;">
                                <div class="y-line-1"></div>
                                <p th:text="${b.getSoBan()}"></p>
                                <div class="y-line-2"></div>
                            </div>
                            <div class="x-line"></div>
                        </a>
                    </th:block>
                </th:block>

            </th:block>



        </div>

        <div id="table-description">
            <div class="table-free">
                <div class="box"></div>
                <p>Bàn còn trống</p>
            </div>
            <div class="table-busy">
                <div class="box"></div>
                <p>Bàn đang hoạt động</p>
            </div>
            <div class="table-set-before">
                <div class="box"></div>
                <p>Bàn có đặt trước</p>
            </div>

        </div>

    </div>

    <script>
        function confirmEmpltyTable(url) {
            let text = "Xác nhận chuyển thành bàn trống?";
            if (confirm(text) == true) {
                window.location=url;
            }
        }

        function confirmDeletePhieu(url){
            let text = 'Xác nhận thông tin phiếu đặt bàn ';
            if (confirm(text) == true){
                window.location = url
            }
        }
        function confirmNhanban(url){
            let text = 'Xác nhận khách đã tới nhận bàn ';
            if (confirm(text) == true){
                window.location = url
            }
        }


    </script>

    <script th:src="@{/Employee/assets/js/app.js}"></script>


</body>

</html>