<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" th:href="@{/Employee/PhieuDatMon/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>

    <div id="member">
        <div class="member-list">
            <div class="form-close">
                <i class="fa-solid fa-xmark" style="color: #ff0000;"></i>
            </div>
            <div class="box">
                <form action="" method="get" class="form-search">
                    <h5>Danh sách khách hàng</h5>
                    <input type="text" name="searchValue" placeholder="Tìm kiếm theo Số điện thoại" autofocus>
                    <input type="submit" value="Tìm kiếm">
                </form>
                <form action="" method="post" class="form-member">
                    <table>
                        <tr>
                            <th>Họ tên thành viên</th>
                            <th>Số điện thoại</th>
                            <th></th>
                        </tr>
                        
                        <th:block th:each="kh : ${listCustomer}">
	                        <tr>
	                            <td th:text="${kh.HoTen}"></td>
	                            <td th:text="${kh.SDT}"></td>
	                            <td><a th:href="${IDLoai} + @{/applyMember?total=} + ${total}">Áp dụng</a></td>
	                        </tr>
                        </th:block>
                        
                    </table>
                </form>
            </div>
        </div>
    </div>
	
    <div id="header">
        <div id="menu-l">
            <div class="money-total">
                <b>Tổng tiền</b>
                <th:block th:if="${total==0}">
                	<input type="text" th:value="${total} + ' VND'" readonly="readonly"/>
                </th:block>
                <th:block th:unless="${total==0}">
                	<input type="text" th:value="${#numbers.formatInteger(total,3,'COMMA')} + ' VND'" readonly="readonly"/>
                </th:block>
                
            </div>
            <div class="sale">
                <p>Giảm giá toàn hóa đơn</p>
                <input type="text" min="0" max="100" th:value="${giamGia} + '%'" readonly="readonly">
            </div>
        </div>
        <div id="menu-r">
            <div class="menu-bar bgr-blue">
                <a th:href="${IDLoai} + @{/saveOrder}">
                    <div class="contain">
                        <p>Thêm PĐM</p>
                    </div>
                </a>
            </div>
            <div class="menu-bar bgr-yellow">
                <a href="/home">
                    <div class="contain">
                        <p>Quay lại</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="table-number">
            <p>Bàn: </p>&emsp;
            <span th:text="${SoBan}"></span>
        </div>
        <div class="order-content">
            <div class="order">
                <div class="order-detail">
                    <table>
                        <tr>
                            <th></th>
                            <th>STT</th>
                            <th>Tên món</th>
                            <th>Số lượng</th>
                            <th>Giá bán</th>
                            <th>Ghi chú</th>
                            <th>Thành tiền</th>
                            <th></th>
                            <th></th>
                        </tr>

						<th:block th:each="o,i : ${session.order}">
	                        <tr>
	                            <form th:action="${IDLoai} + @{/save}" method="post">
	                            	<input type="hidden" name="MaMon" th:value="${o.MaMon}" >
	                                <td><input type="checkbox" name=""></td>
	                                <td th:text="${i.index+1}"></td>
	                                <td th:text="${o.TenMon}"></td>
	                                <td><input name="SoLuong" type="number" th:value="${o.SoLuong}" min="1"></td>
	                                <td th:text="${o.DonGia}"></td>
	                                <td><input type="text" name="GhiChu" th:value="${o.GhiChu}"></td>
	                                <td th:text="${o.ThanhTien} + ' VND'"></td>
	                                <td><input type="submit" value="Cập nhật"></td>
	                                <td><a th:href="${IDLoai} + '/delete?IDMon=' + ${o.MaMon}">Xóa</a></td>
	                            </form>
	                        </tr>
	                  	</th:block>

                    </table>
                </div>
                <div class="menu-order">
                    <div class="category">
                        <ul>
                        	<th:block th:each="c : ${listCategories}">
                       			<th:block th:if="${c.IDLoai==IDLoai}">
                       				<li><a style="background: #007acc; color: #fff !important;" th:href="@{/home/themphieu/} + ${SoBan} + '/' + ${c.IDLoai}" th:text="${c.TenLoai}"></a></li>
                       			</th:block>
                       			<th:block th:unless="${c.IDLoai==IDLoai}">
                       				<li><a th:href="@{/home/themphieu/} + ${SoBan} + '/' + ${c.IDLoai}" th:text="${c.TenLoai}"></a></li>
                       			</th:block>
                        	</th:block>
                        </ul>
                    </div>
                    <div class="list-product">
                    	<th:block th:each="p : ${listProduct}">
                    		<a th:href="${IDLoai} +  @{/add?MaMon=} + ${p.MaMon}" class="product">
	                            <p th:text="${p.TenMon}"></p>
	                        </a>
                    	</th:block>
                    </div>
                </div>
            </div>
            <div class="order-function">
                <button class="btn btn-light btn-HoiVien">Hội viên</button>
                <button class="btn btn-light">Chuyển mang về</button>
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="order-function-child">
                    <hr>
                    <button class="btn btn-danger" onclick="window.location.href='deleteAll'">Bỏ hết món</button>
                </div>
            </div>
        </div>

    </div>



    <script th:src="@{/Employee/assets/js/app.js}"></script>

</body>

</html>