<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Thêm món</title>
<head>
<div th:replace="Admin/header"></div>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h2>THÊM MÓN</h2>
			</section>

			<!-- PHAN BODY -->
			<section class="content">
				<div class="box box-primary">
					<div class="box-body">
						<form class="form-horizontal" action="create" method="post">
						
							<div class="form-group">
								<label class="control-label col-sm-2">Tên món:</label>
								<div class="col-sm-10">
									<input type="text" name="TenMon" autofocus/>
									<span class="field-validation-valid"
										data-valmsg-for="CustomerName" data-valmsg-replace="true"
										style="color: #f00"></span>
								</div>
							</div>



							<div class="form-group">
								<label class="control-label col-sm-2">Loại món:</label>
								<div class="col-sm-10">
									
									<select name="ID_LoaiMon" >
									  <option th:each="lm : ${loaiMon}"  th:value="${lm.IDLoai}" th:text="${lm.TenLoai}"></option>
									</select>
									 <span class="field-validation-valid"
										data-valmsg-for="ContactName" data-valmsg-replace="true"
										style="color: #f00"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2">Đơn vị tính:</label>
								<div class="col-sm-10">
									<input type="text" name="DonViTinh" />
									<span class="field-validation-valid"
										data-valmsg-for="CustomerName" data-valmsg-replace="true"
										style="color: #f00"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-2">Đơn giá:</label>
								<div class="col-sm-10">
									<input type="number" name="GiaBan" min="0" />
									<span class="field-validation-valid"
										data-valmsg-for="CustomerName" data-valmsg-replace="true"
										style="color: #f00"></span>
								</div>
							</div>
							
							<div class="form-group" style="text-align: end">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-primary">
										<i class="glyphicon glyphicon-floppy-disk"></i> Thêm
									</button>
									<a href="list" class="btn btn-warning"> Quay lại </a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</section>
		</div>

<div th:replace="Admin/footer"></div>


<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h4>Thêm món</h4>
	
	 <form action="create" method="post">
		Tên món: <input type="text" name="TenMon" autofocus/> <br>
		
		<label class="control-label col-sm-2">Tên loại</label>
                <select name="ID_LoaiMon" >
				  <option th:each="lm : ${loaiMon}"  th:value="${lm.IDLoai}" th:text="${lm.TenLoai}"></option>
				</select>
				<br>
				
		Đơn vị tính: <input type="text" name="DonViTinh" /><br>
		Đơn giá: <input type="number" name="GiaBan" min="0" /><br>
		<input type="submit" value="Thêm"/>
		<a href="list">Quay lại</a>
	</form>
</body>
</html> -->