<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h4>Cập nhật món</h4>
	
	 <form action="/admin/mon/update" method="post">
	 	<input type="hidden" name="MaMon" th:value="${mon.MaMon}"/>
		Tên món: <input type="text" name="TenMon" th:value="${mon.TenMon}"/> <br>
		
		<label class="control-label col-sm-2">Tên loại</label>
                <select name="ID_LoaiMon" >
                	<option th:value="${mon.ID_LoaiMon}" th:text="${mon.TenLoai}"></option>
				  <option th:each="lm : ${loaiMon}"  th:value="${lm.IDLoai}" th:text="${lm.TenLoai}"></option>
				</select>
				<br>
				
		Đơn vị tính: <input type="text" name="DonViTinh" th:value="${mon.DonViTinh}"/><br>
		Đơn giá: <input type="number" name="GiaBan" th:value="${mon.GiaBan}" min="0"/><br>
		<input type="submit" value="Thêm"/>
	</form>
	<a href="/admin/mon/list">Quay lại</a>
</body>
</html>