<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Insert title here</title>
</head>
<body>
 	<form action="change-pass" method="post">
			<div class="form-group" >
              <label for="exampleInputEmail1">Mật khẩu cũ: </label>
              <input type="password" required="required" name="oldPass">
            </div>

            <div class="form-group" >
              <label for="exampleInputPassword1">Mật khẩu mới:</label>
              <input type="password"  required="required" name="newPass">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Xác nhận mật khẩu: </label>
              <input type="password" required="required" name="reNewPass">
            </div>
             <div class="form-group">
              <button type="submit">Cập nhật</button>
              <a href="show-info">Quay lại</a>
            </div>
            
	</form>
</body>
</html>