<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Trang chủ</title>
</head>
	<div th:replace="Admin/header"></div>
		Content Wrapper. Contains page content
		<div class="content-wrapper">

			<section class="content-header">
				<h3 style="color: #3C8DBC";>Website Adminstrator</h3>
				<h1 style="font-size: 50px; color: #3C8DBC">
					<b>Welcome <span th:text="${Account.TenNV}"></span></b>
				</h1>
			</section>
		</div>
	<div th:replace="Admin/footer"></div> -->
	
	<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Admin | QuanLyNhanVien</title>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Google Font -->

</head>
<div th:replace="Admin/header"></div>
	




		<!-- =============================================== -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Quản lý Nhân viên</h1>
			</section>

			<!-- Main content -->
			<section class="content">



				<div class="box box-primary">
					<div class="box-boy">
						<form action="/Category/Search" id="formSearch">

							<input type="hidden" name="PageSize" value="5" />

							<div class="input-group">
								<input type="text" name="searchValue" class="form-control"
									placeholder="Search" value="" autofocus>
								<div class="input-group-btn">
									<button class="btn btn-info" type="submit">
										<i class="glyphicon glyphicon-search"></i> Tìm kiếm
									</button>

									<a href="AddEmployee.jsp" class="btn btn-primary"
										style="margin-left: 5px"> <i class="fa fa-plus"></i> Bổ
										sung
									</a>
								</div>
							</div>
						</form>
						<!-- View Search -->
						<p style="margin-top: 10px;">
							Có <strong>100</strong> Nhân viên <strong>trong 2 trang</strong>
							trang.
						</p>
						<div class="table-responsive">
							<table class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Mã Nhân viên</th>
										<th>Họ Tên</th>
										<th>Ngày Sinh</th>
										<th>Địa chỉ</th>
										<th>Số điện thoại</th>
										<th>CMT</th>
										<th>Chức vụ</th>
										<th></th>
									</tr>
								</thead>
								<tbody>

									<tr>
										<td>01</td>
										<td>Hoàng Thế Lâm</td>
										<td>02/08/2001</td>
										<td>179 Phan Đình Phùng</td>
										<td>0123456789</td>
										<td>11111112</td>
										<td>Quản Lý</td>
										<td><a href="EditEmployee.jsp"
											class="btn btn-xs btn-primary" style="background: #dc831e">
												<i class="fa-solid fa-pen" style="color: white;"></i>
										</a> <a href="DeleteEmployee.jsp"
											class="btn btn-xs btn-danger"> <i class="fa fa-trash"></i>
										</a></td>
									</tr>

									<tr>
										<td>02</td>
										<td>Võ Ngọc Nhật Quang</td>
										<td>01/01/2001</td>
										<td>14 Thế Lại</td>
										<td>0123123123</td>
										<td>121212121</td>
										<td>Phục Vụ</td>
										<td><a href="EditEmployee.jsp"
											class="btn btn-xs btn-primary" style="background: #dc831e">
												<i class="fa-solid fa-pen" style="color: white;"></i>
										</a> <a href="DeleteEmployee.jsp"
											class="btn btn-xs btn-danger"> <i class="fa fa-trash"></i>
										</a></td>
									</tr>

									<tr>
										<td>03</td>
										<td>Nguyễn Văn Quý</td>
										<td>05/05/2001</td>
										<td>10 TL10</td>
										<td>0686868686</td>
										<td>012345678</td>
										<td>Giữ xe</td>
										<td><a href="EditEmployee.jsp"
											class="btn btn-xs btn-primary" style="background: #dc831e">
												<i class="fa-solid fa-pen" style="color: white;"></i>
										</a> <a href="DeleteEmployee.jsp"
											class="btn btn-xs btn-danger"> <i class="fa fa-trash"></i>
										</a></td>
									</tr>

								</tbody>
							</table>

							<div class="text-center">
								<ul class="pagination">

									<li class="active"><a href="#">1</a></li>
									<li><a href="javascripts:;" onclick="doSearch()">2</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>



			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- Control Sidebar -->

	</div>




<div th:replace="Admin/footer"></div>