<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
</head>
<body>
	<form action="update" method="post">
			<div class="form-group" >
              <label for="exampleInputEmail1">Họ tên: </label>
              <input type="text" th:value="${Account.TenNV}" name="hoten" required="required">
            </div>

            <div class="form-group" >
              <label for="exampleInputPassword1">Ngày sinh:</label>
              <input type="text" th:value="${Account.NgaySinh}" name="ngaysinh">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Địa chỉ: </label>
              <input type="text" th:value="${Account.DiaChi}" name="diachi">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Số điện thoại: </label>
              <input type="number"  th:value="${Account.SDT}" name="sdt">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">CMT: </label>
              <input type="number"  th:value="${Account.CMT}" name="cmt">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Chức vụ: </label>
              <input type="text" th:value="${Account.TenChucVu}" readonly>
            </div>
            
             <div class="form-group">
              <button type="submit">Cập nhật</button>
              <a href="home-page">Quay lại</a>
            </div>
            
	</form>
	
		<div><a href="change-pass">Đổi mật khẩu</a></div>
</body>
</html>