<div id="header" th:fragment="header">
    <div id="menu-l">
        <div class="menu-bar">
            <a href="/home">
                <div class="contain">
                    <p>Sơ đồ chính</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
        <div class="menu-bar">
            <a href="">
                <div class="contain">
                    <p>Bán mang về</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
        <div class="menu-bar">
            <a href="">
                <div class="contain">
                    <p>Đặt chỗ</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
        <div class="menu-bar">
            <a href="/home/inlaihoadon">
                <div class="contain">
                    <p>In lại hóa đơn</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
        <div class="menu-bar">
            <a href="/home/doanhthu">
                <div class="contain">
                    <p>Doanh thu</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
    </div>
    <div id="menu-r">
        <div class="menu-bar">
            <a href="/doimatkhau">
                <div class="contain">
                    <p>Đổi mật khẩu</p>
                    <div class="box-decoration"></div>
                </div>
            </a>
        </div>
        <div class="menu-bar bgr-red">
            <a href="/logout">
                <div class="contain">
                    <p>Đăng xuất</p>
                </div>
            </a>
        </div>
    </div>
</div>