<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <h2>LIST STAFFS</h2>
        <p>
            <a class="btn btn-primary" href="#">ADD STAFF</a>
        </p>
        <table class="table table-brodered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>type</th>
                    <th>cvv</th>
                    <th>status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
<!--                <tr th:each="item :${result}">-->
<!--                    <td th:text="${item.id_card}"></td>-->
<!--                    <td th:text="${item.name}"></td>-->
<!--                    <td th:text="${item.number}"></td>-->
<!--                    <td th:text="${item.type}"></td>-->
<!--                    <td th:text="${item.cvv}"></td>-->
<!--                    <td th:text="${item.status}"></td>-->
<!--                    <td>-->
<!--                        <a class="btn btn-primary btn-sm" href="#"> Edit</a>-->
<!--                        <a class="btn btn-primary btn-sm" href="#"> Delete</a>-->
<!--                    </td>-->
<!--                </tr>-->
            </tbody>
        </table>
    </div>
<script th:inline="javascript">
    /*<![CDATA[*/
        var message = [[${message}]];
        alert(message.message);
    /*]]>*/
</script>
</body>

</html>