* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    width: 100%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
}

.menu-bar {
    display: inline-block;
    padding: 0 5px;
}

#menu-r,
#menu-l {
    display: flex;
}

.menu-bar:hover .box-decoration {
    display: block;
}

.menu-bar>a {
    color: #000;
    font-size: 15px;
    display: inline-block !important;
    text-decoration: none;
    padding: 10px 18px;
}

.menu-bar .contain {
    position: relative;
}

.box-decoration {
    display: none;
    width: 100%;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
}

.bgr-red {
    background-color: red;
}

.bgr-red>a>.contain {
    color: #fff;
}

p {
    margin: 0 !important;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
}

#main {
    width: 100%;
    height: 100%;
    background: #823c19;
    padding: 50px 50px;
}

#main>form {
    margin: 50px 50px;
}

.form-input {
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#table-contain>a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000 !important;
    text-align: center;
    font-weight: bold;
    margin: 20px 10px;
}

a>.box-table {
    width: 80px;
    height: 35px;
    background: #86a420;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-line {
    width: 100%;
    height: 6px;
    background: #ccc;
}

.y-line-1 {
    position: absolute;
    right: -2px;
    width: 6px;
    height: 60%;
    background: #ccc;
}

.y-line-2 {
    position: absolute;
    left: -2px;
    width: 6px;
    height: 60%;
    background: #ccc;
}

#table-description {
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
}

#table-description .box {
    width: 40px;
    height: 18px;
    display: inline-block;
}

#table-description p {
    display: inline-block;
    color: #fff;
}

.table-free>.box {
    background: #eee;
}

.table-busy>.box {
    background: #86a420;
}

.table-set-before>.box {
    background: #0d99ff;
}

.bgr-blue {
    background: #0d99ff;
}

.bgr-blue p {
    color: #fff;
}

.bgr-yellow {
    background: #ffa500;
}

.bgr-yellow p {
    color: #fff;
}

.order-content {
    margin-top: 10px;
    display: flex;
}

.order-detail>table {
    width: 1000px;
}

.money-total,
.sale {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.money-total b,
.sale p {
    margin-right: 10px !important;
}

.money-total input,
.sale input {
    font-size: 20px;
    text-align: end;
}

.sale {
    margin-left: 100px;
}

.table-number {
    color: #fff;
}

.table-number>p {
    float: left;
    text-transform: uppercase;
}

.menu-order {
    display: flex;
}

.order-detail {
    height: 300px;
    background: #fff;
    overflow: scroll;
}

.order-detail>table {
    text-align: center;
    background: #fff;
}

.order-detail>table th {
    color: #fff;
    background: #3c8dbc;
    padding: 10px;
}

.order-detail>table td {
    color: #000;
    padding: 8px;
}

input[name="SoLuong"] {
    width: 50px;
    text-align: center;
}

input[name="GhiChu"] {
    width: 200px;
    text-align: end;
}

.order-function {
    margin-left: 30px;
}

.order-function button {
    width: 100%;
    margin-bottom: 10px;
}

.category {
    padding: 10px;
    margin-top: 5px;
    height: 200px;
    width: 220px;
    background: #eee;
    display: inline-block;
    overflow: scroll;
    text-align: center;
}

.category>ul>li {
    margin-bottom: 5px;
    background: #ddd;
    cursor: pointer;
}

li>a {
    padding: 5px;
    display: block;
    color: #000;
    width: 100%;
    height: 100%;
}

li>a:hover {
    background: #007acc;
    color: #fff !important;
}

.list-product {
    padding: 10px;
    margin: 5px 0 0 5px;
    height: 200px;
    width: 100%;
    background: #fff;
    overflow: scroll;
    text-align: center;
}

.product {
    display: inline-block;
    text-align: center;
    width: calc(100%/3.2);
    height: fit-content;
    padding: 7px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#member {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.form-close {
    border-radius: 0 10px 0 0;
    text-align: end;
}

.form-close>i {
    border-radius: 0 10px 0 0;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.form-close>i:hover {
    background: #ddd;
}

.member-list {
    border-radius: 10px;
    background: #fff;
    width: fit-content;
    z-index: 1000;
    position: relative;
}

.member-list>.box {
    min-width: 700px;
    padding: 0 15px 15px 15px;
    min-height: 300px;
}

.member-list table {
    margin-top: 10px;
    width: 100%;
}

.member-list>.box>form>input[type="text"] {
    margin: 5px 0;
    padding: 5px;
    width: calc(100%/1.2);
}

.member-list>.box>form>input[type="submit"] {
    margin: 5px 0;
    padding: 5px;
    width: calc(100%/6.3);
}

.form-member>table>tbody>tr>th {
    padding: 0 5px;
    background: #3c8dbc;
    color: #fff;
}

.form-member>table>tbody>tr>td {
    padding: 0 5px;
}

.btn-ApDung {
    text-align: end;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.form-member {
    height: 170px;
    overflow: scroll;
}