<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Thêm loại món</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet"
	th:href="@{/Admin/assets/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/Admin/assets/Themes/bower_components/font-awesome/css/font-awesome.min.css}">
<link rel="stylesheet"
	th:href="@{/Admin/assets/Themes/bower_components/Ionicons/css/ionicons.min.css}">
<link rel="stylesheet"
	th:href="@{/Admin/assets/Themes/dist/css/AdminLTE.min.css}">
<link rel="stylesheet"
	th:href="@{/Admin/assets/Themes/dist/css/skins/_all-skins.min.css}">
<script th:src="@{/Employee/TaiKhoan/validate.js}"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="index2.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>CAFE</b></span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg">DIAMOND <b>CAFE</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!--User Account -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="../Themes/dist/img/user2-160x160.jpg" class="user-image"
								alt="User Image"> <span class="hidden-xs">USER</span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									src="../Themes/dist/img/user2-160x160.jpg" class="img-circle"
									alt="User Image"></li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Tài khoản</a>
									</div>
									<div class="pull-right">
										<a href="#" class="btn btn-default btn-flat">Đăng xuất</a>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
			</nav>
		</header>

		<aside class="main-sidebar" th:replace="Admin/mainsidebar :: mainSideBar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1 style="font-size: 40px;">CHỈNH SỬA MÓN</h1>
			</section>

			<!-- PHAN BODY -->
			<section class="content">
				<div class="box box-primary">
					<div class="box-body">
						<form class="form-horizontal" action="add" method="post" onsubmit="return CheckCategory()">

							<input name="__RequestVerificationToken" type="hidden"
								value="DCaFG_JzSP7HWUJo6Pbwm8nOjKYz7Rzf_bGi0L0S8qL14jX25MQDEdNauPxTEoCqt3t2gaa4j1IzW1PTnT8tN3MJf0eDev1p9JuK5DT6Uw0jS5jHJOq8XIMJtpJZuRQACOn_6HL2DJOKXlvThc6oxBcfaDq36VBa52ildDL4E-5ZT2By00bWe-f9tEmChFIZfvWT6ziA8_WAmXAvX61W55_hHZajjeSf_9MTSXs2K7AIZwJx1rwKfOkFSlS2iZis9EFi3eht1yOhh3XC-4sMTWuCyExP2T9mQv7Y59Pf5dcFOz0cK03nLN36oNlBS7uOMcnX85Gr6xfTwS-pcsBP6OyGiFjp7smjAKiWg-ULbME1" />
							<input data-val="true"
								data-val-number="The field CustomerID must be a number."
								data-val-required="The CustomerID field is required."
								id="CustomerID" name="CustomerID" type="hidden" value="0" />

							<div class="form-group">
								<label class="control-label col-sm-2">Tên loại món</label>
								<div class="col-sm-10">
									<input autofocus="autofocus" class="form-control"
										name="TenLoai" type="text" required="required"/> <span
										class="field-validation-valid" data-valmsg-for="CustomerName"
										data-valmsg-replace="true" style="color: #f00"></span>
								</div>
							</div>

							<div class="form-group" style="text-align: end">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-primary">
										<i class="glyphicon glyphicon-floppy-disk"></i> Thêm
									</button>
									<a href="/admin/loaimon" class="btn btn-warning"> Quay lại
									</a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</section>
		</div>
</body>
</html>