<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<a href="/admin/loaimon/create">Thêm loại món</a>
	<form action="/admin/loaimon">
		<input type="text" name="searchValue"/>
		<input type="submit" value="Tìm kiếm"/>
	</form>

	<table>
		<tr>
			<th>Mã loại món</th>
			<th>Tên loại món</th>
			<th></th>
		</tr>
		<th:block th:each="lm : ${list}">
			<tr>
				<td th:text="${lm.IDLoai}"></td>
				<td th:text="${lm.TenLoai}"></td>
				<td><a th:href="@{'loaimon/edit/' + ${lm.IDLoai}}">Sửa</a></td>
				<td><a th:href="@{'loaimon/delete/' + ${lm.IDLoai}}">Xóa</a></td>
			</tr>
		</th:block>
	</table>
	
	<th:block th:each="i : ${#numbers.sequence(1, paging.pageCount)}">
		   	<a th:if="${i==paging.pageIndex}" style="font-weight: bolder;" th:href="@{'/admin/loaimon?page=' + ${i}}" th:text="${i}"></a>
		   	<a th:unless="${i==paging.pageIndex}" th:href="@{'/admin/loaimon?page=' + ${i}}" th:text="${i}"></a>
	</th:block>
</body>
</html>